body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Defaults: */
h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 58px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 44px;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.15px;
  line-height: 36px;
}
h4 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 38px;
}
h5 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 33px;
}
h6 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 24px;
}

.overline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}
.subtitle {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  margin: 0;
  text-decoration: none;
}

@media (max-width: 375px) {
  h1 {
    font-size: 36px;
    letter-spacing: 1.29px;
    line-height: 40px;
  }
}
